# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build with Ant
      working-directory: qstudio
      run: ant -noinput -buildfile build.xml

    - name: Publish test results
      uses: actions/upload-artifact@v4
      with:
        name: junit-results
        path: qstudio/target/reports/*.xml

    - name: Report test results
      uses: dorny/test-reporter@v1
      if: always()   # run even if tests fail
      with:
        name: JUnit Tests
        path: qstudio/target/reports/*.xml
        reporter: java-junit
        fail-on-error: false
